{% extends 'base.html' %}
{% block conteudo %}

<h2>página teste</h2>


<hr>
<br>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="">
    <label class="form-check-label" for="">
      Default checkbox
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="" checked>
    <label class="form-check-label" for="">
      Checked checkbox
    </label>
  </div>
<br><br>
  <div class="mb-3">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
    <small id="emailHelpId" class="form-text text-muted">Help text</small>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  {% endblock conteudo %}